<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">1</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
        <th mat-header-cell *matHeaderCellDef>Artist</th>
        <td mat-cell *matCellDef="let element">{{element.artist}}</td>
    </ng-container>

    <!-- Date of release Column -->
    <ng-container matColumnDef="date_release">
        <th mat-header-cell *matHeaderCellDef>Date of release</th>
        <td mat-cell *matCellDef="let element">{{element.date_release}}</td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{element.duration}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
    <h3>
        Click Log
    </h3>
</div>

<div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
</div>

<ul>
    <li *ngFor="let clickedRow of clickedRows">
        Clicked on {{clickedRow.name}}
    </li>
</ul>